
#loadedData{
    width: 800px;
}
#newData{
    height: 400px;
    width: 800px;
    margin: auto;
    background-color: coral;
    margin-bottom: 30px;
}
.item{
    background-color: bisque;
    padding: 10px;
    margin-bottom: 5px;
}
.highlight
{
    background-color:yellow;
}