
#loadedData{
    width: 800px;
    background-color: deepskyblue;
}

#newData{
    height: 400px;
    width: 800px;
    margin: auto;
    background-color: coral;
    margin-bottom: 20px;
}
.item{
    background-color: bisque;
    padding: 10px;
    margin-bottom: 5px;
}